:root {
    --cor-de-fundo: rgb(5, 230, 238);
    --preto: #000000;
    --branco: #FFFFFF;
    --botao-ativo: #fc5000;
    --botao-inativo: #fc0000;
    --texto-fundo: #01a085ab;
    --cor-borda: #000000;
}

.conteudo-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1500px;
    width: 200%;
    margin: 0 auto;
}

.titulo-principal {
    text-align: center;
    width: 200%;
    font-size: 52px;
    color:var(--cor-borda);
}

.titulo.principal span {
    color: var(--verde);
}

.botao {
    background-color: var(--branco);
    color: var(--branco);
    display: flex;
    justify-content: center;
    padding: 1em;#0412d1b1
    font-size: 18px;
    align-items: center;
    width: 100%;
    border-bottom: 4px solid var(--cor-borda);
    border-left: 2px solid var(--cor-borda);
    border-right: 2px solid var(--cor-borda);
    border-top: 4px solid var(--cor-borda);
}

.botoes {
    display: block;
}

.botao:first-child {#0412d1b1
    border-radius: 40px 40px 0 0;
    border-left: 4px solid var(--cor-borda);
}

@media screen and (min-width: 768px) {
    .botoes {
        display: flex;
    }

    .botao:first-child {
        border-radius: 40px 0 0 0;
        border-top: 4px solid var(--cor-borda);
    }

    .botao:last-child {
        border-radius: 0 40px 0 0;
        border-right: 4px solid var(--cor-borda);
    }
}

body {
    background-color: var(--cor-de-fundo);
}

.botao.ativo {
    background-color: var(--botao-ativo);
    color: black;
}

.botao {
    background-color: var(--botao-inativo);
    color: white;
}

.abas-textos {
    background-color: #fc0000;
    padding: 40px;
    border-radius: 0 0 40px 40px;
    border-bottom: 4px solid var(--cor-borda);
    border-right: 4px solid var(--cor-borda);
    border-left: 4px solid var(--cor-borda);
}

.aba-conteudo.ativo {
    display: block;
}

.aba-conteudo {
    display: none;
}