.tit-1{
    color:black;
}
.tit-2{
    color: darkblue;
}

.tit-3{
    color: pink;
}

.tit-1 {
    color: red;
}

.tit-2{
    color: pink;
}

.tit-3{
    color: pink;
}

.botao-1{
    background-color: yellow;
}
.botao-2{
    background-color: yellow;
}
.botao-3{
    background-color: yellow;
}